:root {

	   /* Color Rules */

	   --background: #1c2023;
	   --foreground: #f3f4f5;
	   --light-grey: #c7ccd1;
	   --grey: #747c84;
	   --red: #c7ae95;
	   --green: #95c7ae;
	   --yellow: #aec795;
	   --blue: #ae95c7;
	   --magenta: #c795ae;
	   --cyan: #95aec7;
}

browser { background-color: var(--background) !important; }

#tabbrowser-tabs {
	   -moz-appearance: none !important;
	   background-color: var(--background) !important;
	   color: var(--foreground) !important;
}

#tabs-newtab-button{
	   float: right !important;
}

#tabs-newtab-button:hover {
	   float: right !important;
	   background-color: var(--background) !important;
}

.tab-line[selected="true"] {
	   background-color: var(--green) !important;
}

.tab-background[selected="true"] {
	   background-color: var(--red) !important;
}

#PersonalToolbar {
	   -moz-appearance: none !important;
	   background-color: var(--background) !important;
	   color: var(--foreground) !important;
}

#PersonalToolbar menupopup {
	   -moz-appearance: none !important;
	   background-color: var(--background) !important;
	   color: var(--foreground) !important;
}

#PersonalToolbar menuitem:hover {
	   -moz-appearance: none !important;
	   margin-top: 4px;
	   margin-bottom: 4px;
	   margin-left: 6px;
	   background-color: var(--background) !important;
	   color: var(--yellow) !important;
}

#PersonalToolbar toolbarbutton:hover {
	   background-color: var(--background) !important;
	   color: var(--yellow) !important;
}

#nav-bar {
	   -moz-appearance: none !important;
	   background-color: var(--background) !important;
	   color: var(--foreground) !important;
}

#pocket-button {
	display: none !important;
}