:root {

	   /* Color Rules */

	   --background: #1c2023;
	   --foreground: #f3f4f5;
	   --light-grey: #c7ccd1;
	   --grey: #747c84;
	   --red: #c7ae95;
	   --green: #95c7ae;
	   --yellow: #aec795;
	   --blue: #ae95c7;
	   --magenta: #c795ae;
	   --cyan: #95aec7;
}

browser { background-color: var(--background) !important; }
