:root {

	   /* Color Rules */

	   --background: #1c2023;
	   --foreground: #f3f4f5;
	   --light-grey: #c7ccd1;
	   --grey: #747c84;
	   --red: #c7ae95;
	   --green: #95c7ae;
	   --yellow: #aec795;
	   --blue: #ae95c7;
	   --magenta: #c795ae;
	   --cyan: #95aec7;
}

browser {
	background-color: var(--background) !important;
}

.browser-toolbar{
	background-color: var(--background) !important;
}

#nav-bar {
	   -moz-appearance: none !important;
	   background-color: var(--background) !important;
	   color: var(--foreground) !important;
}

#personal-bookmarks{
	background-color: var(--background) !important;
}

#urlbar {
	background-color: var(--background) !important;
	color: var(--foreground) !important;
}

#urlbar[focused="true"] {
	border-color: var(--blue) !important;
}

#pocket-button {
	display: none !important;
}

.small-separator {
	   -moz-appearance: none !important;
	   background-color: var(--foreground) !important;
	   color: var(--background) !important;
}

menuseparator {
	   -moz-appearance: none !important;
	   background-color: var(--foreground) !important;
	   color: var(--background) !important;
}

#TabsToolbar {
	   background-color: var(--background) !important;
}

#tabbrowser-tabs {
	   -moz-appearance: none !important;
	   background-color: var(--background) !important;
	   color: var(--foreground) !important;
}

.tab-background {
	border-top: 0px !important;
}

.tab-background[selected="true"] .tab-background-inner {
	   background-color: var(--background) !important;
}

.tab-label[selected="true"] {
	color: var(--green) !important;
}

.tab-line[selected="true"] {
	   background-color: var(--green) !important;
	   height: 2px !important;
}

tab:not([selected="true"]) .close-icon {
	display: none !important;
}

tab:not([selected="true"]) {
	max-width: 0px !important;
}

.tab-close-button:hover{
	color: var(--red) !important;
	background: var(--background) !important;
}

.tab-close-button{
	color: var(--grey) !important;
}

#PersonalToolbar {
	   -moz-appearance: none !important;
	   background-color: var(--background) !important;
	   color: var(--foreground) !important;
}

#PersonalToolbar menupopup {
	   -moz-appearance: none !important;
	   background-color: var(--background) !important;
	   color: var(--foreground) !important;
}

#bookmarks-menu-button menupopup {
	   -moz-appearance: none !important;
	   background-color: transparent !important;
}

#bookmarks-menu-button menuitem {
	background-color: var(--background) !important;
	color: var(--foreground) !important;
}

#bookmarks-menu-button menuitem:hover {
	background-color: var(--background) !important;
	color: var(--yellow) !important;
}

#BMB_bookmarksPopup menuseparator {
	background-color: var(--foreground) !important;
}

#bookmarksMenuPopup {
	background-color: var(--background) !important;
	border-color: var(--red) !important;
}

.popup-internal-box {
	background-color: var(--background) !important;
	color: var(--foreground) !important;
}

.menuitem-iconic {
	   background-color: var(--background) !important;
	   color: var(--foreground) !important;
}

.menuitem-iconic:hover {
	   background-color: var(--background) !important;
	   color: var(--yellow) !important;
}

.menu-right {
	filter: invert(100%) !important;
}

.bookmark-item {
	   -moz-appearance: none !important;
	   margin-top: 4px;
	   margin-bottom: 4px;
	   margin-left: 6px;
	   background-color: var(--background) !important;
	   color: var(--foreground) !important;
}

.bookmark-item:hover {
	   -moz-appearance: none !important;
	   margin-top: 4px;
	   margin-bottom: 4px;
	   margin-left: 6px;
	   background-color: var(--background) !important;
	   color: var(--yellow) !important;
}
